@import "../../styles/variables";

.footer {
    padding: 2.5rem 0;
    background: $dark;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    path {
        fill: $light;
    }
}

.nav {
    margin-bottom: 3.5rem;
}

.navList {
    display: flex;
    align-items: center;
    flex-direction: column;

    & > li {
        margin: 1.25rem 0;
    }
}

.logoFooter {
    display: flex;

    & > li {
        margin: 0 1.25rem;
    }
}

@media (min-width: 48em) {
    .footer {
        padding: 2.5rem 3.5rem;
        flex-direction: row;
    }

    .navList {
        flex-direction: row;
    }

    .nav {
        flex-grow: 1;
        margin-bottom: 0;
    }

    .navList {
        & > li {
            margin: 0 2.5rem;
        }
    }
}
