@import "./variables";

.button {
    padding: 10px 30px;
    font-size: 0.75rem;
    border-radius: 2px;

    &--fill {
        background: $primary;
        color: $light;
    }

    &--hollow {
        background: $light;
        border: 1px solid $primary;
        color: $primary;
    }
}
